@using ArtStroke.Data.Models;
@using Microsoft.AspNetCore.Identity
@model IEnumerable<IndexViewModel>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    var artworks = Model.ToList();
}
@if (!Model.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the creative place for artworks!</h1>
        <p class="lead">
            There are no artworks in the system currently available
            so why don't you just add one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="ArtWork" asp-action="Add" class="btn btn-primary btn-lg"role="button">Add Artwork</a>
            }
        </p>
  </div>
}
<div class="mb-5 "></div>
     <div id="carouselExampleControls " class="carousel slide col-6  mx-auto position-relative style="height:auto"; margin-top:20px" data-bs-ride="carousel">
           @*  <div  > 
        <img style="width: 100%; height: 100vh; " src="/imgs/Stroke_Transparent_Multi_2.png" alt="Art Stroke"/></div>*@
<div class="carousel-inner  mx-auto" style="border-radius: 10px">
        @for (int i = 0; i < artworks.Count(); i++)
        {
            var artwork = artworks[i];
         <div  class="carousel-item @(i == 0 ? "active" : string.Empty)">
                        <img class="d-block w-100" style="height:auto" src="@artwork.ImageUrl" alt="@artwork.Title">
           
                   <div class="carousel-caption d-none d-md-block">
                                   <h5 > <a class="btn btn-primary mb-3" style="background-color:#3ba6b1; border-radius: 20px" asp-controller="ArtWork" asp-action="Details" asp-route-id="@artwork.Id"> @artwork.Title</a> </h5>
                   </div>
         </div>
        }
</div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>