
@model List<AllPrintDesignsViewModel>
@{
    ViewData["Title"] = "All Prints By Details Artwork";
}
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />

@if (!Model.Any())
{
             <h2 class="text-center">Gallery doesn't contain any print designs!</h2>
}
else
{
            <h4 class="text-center mb-3 text-decoration-underline">Count of exposed prints on this artwork: <span>@Model.Count()</span></h4>    
}
<div class="row">

    @foreach (AllPrintDesignsViewModel print in Model)
    {

      <div class="col-md-4">
            <h3 class="text-xl-center" style="color:#253d37; font-family:Garamond;" > Original Art: @print.ArtWork.Title</h3>
                <div class="card mb-3 shadow-lg">
                        <div class="card-body text-center">
                                 <img class="card-img-top" src="@print.ImageUrl" alt="Print Image">
                                    <h5 class="shadow-sm rounded-pill">Title: @print.Title</h5>
                                        <p class="shadow-sm rounded-pill">Width: @print.Width cm</p>
                                         <p class="shadow-sm rounded-pill">Height: @print.Height cm</p>
                                         <p class="shadow-sm rounded-pill">Creator Name: @print.CreatorName</p>
                                <br />
                                <a asp-area = "" asp-controller="PrintDesign" asp-action="Details" asp-route-id="@print.Id" style="border-radius: 20px"
                        class="btn btn-success">Details</a>              
                        </div>
                </div>
        </div>
    }
 </div>
