@model AllArtEventByIdViewModel

<div class="card mb-10 position-relative m-auto shadow-lg col-md-8" style="max-width: 80%; flex-direction:row; align-items:center">
  <div class="row no-gutters col-md-12">
    <div class="col-md-6">
      <img src=" @Model.ImageUrl" class="card-img w-70 h-auto " alt="Art Event">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h4 class="card-title mb-5" style="color:#253d37; font-family:Garamond; font-size: 2rem;">@Model.Title</h4>
        <p class="card-text mb-3">Title: <b>@Model.Title</b></p>
        <p class="card-text mb-3">Public date: <b>@Model.PublicDate</b></p>
        <p class="card-text mb-3">Information: <b>@Model.Information</b></p>
                @if (this.User.Identity?.IsAuthenticated ?? false)
                {                   
                     <a class="btn btn-warning col-4 shadow-lg" asp-controller="ArtEvent" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                     <a class="ml-2 btn btn-danger col-4 shadow-lg" asp-controller="ArtEvent" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                }
      </div>
    </div>
  </div>
</div>