@using ArtStroke.Services.Data.Interfaces;
@using ArtStroke.Web.Infrastructure.Extentions;
@model ArtworkAllViewModel

@inject IArtistService ArtistService
@{
    bool isArtistCreatorOfTheArtwork = await ArtistService.HasArtworkByIdAsync(Model.Id, this.User.GetId());
    bool isUserArtist = await ArtistService.HasArtistByUserIdAsync(this.User.GetId());
}

<div class="col-md-4">
        <div class="card mb-3 shadow-lg">
                <img class="card-img-top" src="@Model.ImageUrl" alt="Artwork Image">
                <div class="card-body text-center">
                        <h4 class="shadow-sm rounded-pill">@Model.Title</h4>

                        <h6>(@(Model.IsDesignedInPrint ? "Designed" : "Not Designed"))</h6>
                        <br />
                        <a asp-controller="ArtWork" asp-action="Details" asp-route-id="@Model.Id" style="border-radius: 20px"
                        class="btn btn-success">Details</a>
                           @if (!Model.IsDesignedInPrint)
                           {
                                   <form class="input-group-sm mt-md-2 mb-2" asp-controller="ArtWork"
                                   asp-action="Design" asp-route-id="@Model.Id" method="post" >
                                       <input class="btn btn-primary" type="submit" value="Begin to Design" style="border-radius: 20px"/>
                               </form>
                           }
                           @if (Model.IsDesignedInPrint == true)
                           {
                              <a class="ml-2 btn btn-light col-4 shadow-lg rounded-pill" asp-controller="PrintDesign" asp-action="GetPrints" asp-route-id="@Model.Id">Print Design Gallery</a>
                           }
                           @if (this.User.Identity?.IsAuthenticated ?? false)
                           {
                                 @if((isArtistCreatorOfTheArtwork && isUserArtist)|| this.User.IsAdmin())
                                 {
                                    <a asp-controller="ArtWork" asp-action="Edit" asp-route-id="@Model.Id" style="border-radius: 20px"
                                        class="btn btn-warning">Edit</a>
                                    <a asp-controller="ArtWork" asp-action="Delete" asp-route-id="@Model.Id" style="border-radius: 20px"
                                        class="btn btn-danger">Delete</a>
                                    <p></p>
                                 }   
                           }
                </div>
        </div>
</div>