@model AllPrintsByUserIdModel

<div class="col-md-4">
        <div class="card mb-3 shadow-lg">
                <img class="card-img-top" src="@Model.ImageUrl" alt="Print Image">
                <div class="card-body text-center">
                        <h4 class="shadow-sm rounded-pill">@Model.Title</h4>
                        <p>Height: @Model.Height cm</p>
                        <p>Width: @Model.Width cm</p>
                        <p>Print Creator: @Model.CreatorName</p>
                        <br />
                        <a asp-controller="PrintDesign" asp-action="Details" asp-route-id="@Model.Id" style="border-radius: 20px"
                        class="btn btn-success">Details</a>
                      
            @if (this.User.Identity?.IsAuthenticated ?? false)
            {
                    <a asp-controller="PrintDesign" asp-action="Edit" asp-route-id="@Model.Id" style="border-radius: 20px"
                       class="btn btn-warning">Edit</a>
                    <a asp-controller="PrintDesign" asp-action="Delete" asp-route-id="@Model.Id" style="border-radius: 20px"
                          class="btn btn-danger">Delete</a>
                    <p></p>


            }
                </div>
        </div>
</div>