@model AllArtworksQueryModel

@{
    ViewBag.Title = "All Artworks";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<form method="get">
        <div class="row" style="align-items:center; justify-content:center; flex-direction:row">
             <div class="form-group col-md-2 d-flex justify-content-between">
                   <div class="form-group ">
                        <label asp-for="Style"></label>
                        <select asp-for="Style" class="form-control">
                            <option value="">All</option>
                    @foreach (var style in Model.Styles)
                    {
                                             <option value="@style">@style</option>
                    }
                        </select>
                   </div>
             </div>
             <div class="form-group col-md-3">
                     <label asp-for="SearchTerm"></label>
                     <input asp-for="SearchTerm" class="form-control" placeholder="...">
             </div>
             <div class="form-group col-md-3">
                   <div class="form-group">
                         <label asp-for="WorksSorting"></label>
                         <select asp-for="WorksSorting" class="form-control">
                                 <option value="0">Newest</option>
                                 <option value="1">Oldest</option>
                                 <option value="2">CreatingYear Ascending</option>
                                 <option value="3">CreatingYear Descending</option>
                                 <option value="4">Has not Printed Design</option>
                         </select>
                   </div>

             </div>
             <div class="form-group col-md-2">
                  <label asp-for="ArtworksPerPage"></label>
                  <select asp-for="ArtworksPerPage" class="form-control">
                          <option value="3">3</option>
                          <option value="6">6</option>
                          <option value="12">12</option>
                  </select>
            </div>
             <div class="col-md-3 d-flex justify-content-center">
                   <div class="form-group mt-2 p-2">
                           <input type="submit" value="Search" class="btn btn-primary" />
                   </div>
             </div>


        </div>
</form>
@{
    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }
    int maxPage = (int)Math.Ceiling((double)Model.TotalArtworks / Model.ArtworksPerPage);
}
<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                 asp-controller="ArtWork"
                 asp-action="All"
                 asp-route-currentPage="@previousPage"
                 asp-route-category="@Model.Style"
                 asp-route-searchTerm="@Model.SearchTerm"
                 asp-route-sorting="@((int)Model.WorksSorting)"><<</a>
    </div>
    @{
        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Artwoks.Any();
    }
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary
            @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
                    asp-controller="ArtWork"
                    asp-action="All"
                    asp-route-currentPage="@(Model.CurrentPage + 1)"
                    asp-route-category="@Model.Style"
                    asp-route-searchTerm="@Model.SearchTerm"
                    asp-route-sorting="@((int)Model.WorksSorting)">>></a>
    </div>
</div>
@if (!Model.Artwoks.Any())
{
                        <h2 class="text-center">No artworks found by the given criteria!</h2>
}
<div class="row position-relative">
    @*<img class="position-absolute"style="width: 100%; height: 100%; " src="/imgs/Stroke_Transparent_Multi_2.png" alt="Art Stroke"/>*@
    @foreach (var artwork in Model.Artwoks)
    {
                                    <partial name="_ArtWorkPartial" model="@artwork" />
    }
</div>