@model ArtworkDetailsViewModel
@{
    ViewBag.Title = "Artwork Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container " style="display:inline">
    <div class="row ">
        <div class="col-7 d-flex justify-content-center">
                <img class="card-img-top shadow-lg" style="width: 80%" src="@Model.ImageUrl" alt="Artwork Image">
        </div>
        <div class="card col-5 border-0 d-flex justify-content-between bg-light bg-opacity-75" style="display:inline-block">
            <div class="container" style="display:inline">
                  <p style="font-size:25px;"><u>@Model.Title</u></p>
                  <p>Located in: <b>@Model.Technique</b></p>
                  <p class="">Style: <b>@Model.Style</b></p>
                  <p>Width: <b>@Model.Width cm</b></p>
                  <p>Height: <b>@Model.Height cm</b></p>
                  <p>Creating Year: <b>@Model.CreatingYear</b></p>
                  <p><i>(@(Model.IsDesignedInPrint ? "Designed" : "Not Designed"))</i></p>
            </div>
            <div class="container shadow-sm" style="display:inline">
             <div class="row form-inline justify-content-sm-between">
                    @if (this.User.Identity?.IsAuthenticated ?? false)
                    {
                              <a class="btn btn-warning col-2 shadow-lg" asp-controller="ArtWork" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                              <a class="ml-2 btn btn-danger col-2 shadow-lg" asp-controller="ArtWork" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>

                       @*   <form class="ml-2 " asp-controller="ArtWork" asp-action="Design" asp-route-id="@Model.Id" method="post">
                           <input class="btn btn-primary" type="submit" value="Design" />
                          </form>*@
                               <a class="ml-2 btn btn-info col-3 shadow-lg" asp-controller="ArtWork" asp-action="Design" asp-route-id="@Model.Id">Design</a>

                        @if (Model.IsDesignedInPrint == true)
                        {
                             <a class="ml-2 btn btn-light col-4 shadow-lg" asp-controller="PrintDesign" asp-action="GetPrints" asp-route-id="@Model.Id">Print Design Gallery</a>
                        }
                        @* else
                         {
                               <a class="ml-2 btn btn-danger" asp-controller="ArtWork" asp-action="Design" asp-route-id="@Model.Id">Print Design</a>
                               <a href="@Url.Action("Design", "Artwork")" class="btn btn-success btn-block">Print Design Gallery</a>*@
                        @*}*@
                    }
             </div>      

<p></p>


              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">Artist Info</h5>
                      <p class="card-text">Name: @Model.Artist.Name</p>
                      <p class="card-text">Biography: @Model.Artist.Biography</p>
                  </div>
              </div>

        </div>
        </div>
    </div>
</div>