@model ArtworkDetailsViewModel
@{
    ViewBag.Title = "Artwork Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
                <img class="card-img-top" style="width: 20rem;" src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0 d-flex justify-content-between" style="display:inline-block">
            <div class="container" style="display:inline">
                  <p style="font-size:25px;"><u>@Model.Title</u></p>
                  <p>Located in: <b>@Model.Technique</b></p>
                  <p class="">Style: <b>@Model.Style</b></p>
                  <p>Width: <b>@Model.Width</b></p>
                  <p>Height: <b>@Model.Height</b></p>
                  <p><i>(@(Model.IsDesignedInPrint ? "Designed" : "Not Designed"))</i></p>
            </div>
            <div class="container" style="display:inline">
             <div class="form-inline">
                     @if (this.User.Identity?.IsAuthenticated ?? false)
                     {
                          <a class="btn btn-warning" asp-controller="ArtWork" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                          <a class="ml-2 btn btn-danger" asp-controller="ArtWork" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                         @if (!Model.IsDesignedInPrint)
                         {
                            <form class="ml-2" asp-controller="ArtWork" asp-action="Design" asp-route-id="@Model.Id" method="post">
                                  <input class="btn btn-primary" type="submit" value="Design" />
                            </form>
                         }
                         else
                         {
                             <a href="@Url.Action("PrintDesign", "Details")" class="btn btn-success btn-block">Gallery</a>
                         }
                     }
             </div>      

<p></p>
        
        
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">Artist Info</h5>
                      <p class="card-text">Name: @Model.Artist.Name</p>
                      <p class="card-text">Biography: @Model.Artist.Biography</p>
                  </div>
              </div>
        
        </div>
        </div>
    </div>
</div>